body{background-color: aqua;}
 
.flame02 {
    width: 50%;
    height: 350px;
    color: #000; 
    background-color: #f5f5f5; 
    border: 1px solid #ccc; 
        position: relative;
        top: 100px;
        left: 300px;
    }
 p{
     font-size: 400%;
     color: red;
     font-weight: bold;
     text-align: center;
 
     
 }
 h2{
     font-size: 200%;
     text-align: center;
 }
 
 ul{
    position: relative;
    top: 90px;
    left: 500px;
     font-size: 100%;

 }
 
 
